CF_API_TOKEN=your_cloudflare_api_token
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_PAGES_PROJECT=natter-sub
CF_PAGES_BRANCH=main
CF_PAGES_DOMAIN=SUB_DOMAIN
CF_PAGES_SUB_TOKEN=RANDOM_LONG_TOKEN
CF_PAGES_DOWNLOAD_NAME=clash-natter.yaml
CF_PAGES_SOURCE_YAML=clash
